@using Splg.Core.Constant;          
@using Splg.Areas.Prize.Models.ViewModel;
@model Splg.Areas.Prize.Models.ViewModel.PrizeGoodViewModel

@{
    foreach (var item in Model.RallyGoodsRemarks)
    {
        <div class="adw_bl01_2 clear">
            <h2 class="mytitle">@item.Title</h2>
            <div class="add_image">
                <img src="@item.ImageUrl" alt="@item.Title">
            </div>
    
            @Html.Partial("RallyGoodsRemarksText", Model.RallyGoodsRemarksText.Where(x => x.RallyGoodRemarksId == item.RallyGoodRemarksId))
    
            @Html.Partial("RallyGoodsRemarksLink", Model.RallyGoodsRemarksLink.Where(x => x.RallyGoodRemarksId == item.RallyGoodRemarksId))
        </div>
    }
}
