@model IEnumerable<Splg.Models.News.ViewModel.NewsInfoViewModel>

@if (Model != null)
{
    if (Model.Any())
    {
        var firstNews = Model.FirstOrDefault(); 
        var routeValues = new RouteValueDictionary();
        routeValues.Add("area", string.Empty);
        routeValues.Add("topic", Constants.MLB_TOPIC_NAME);
        routeValues.Add("newsItemID", @firstNews.NewsItemID);
        routeValues.Add("sportID", Constants.MLB_SPORT_ID);
        var imageSports = Utils.GetNewsImageLocation(firstNews.Content ?? Constants.IMAGE_DEFAULT);
        <div class="block_01">
            <div class="row">
                @* アクセス数1位のものを出力  *@
                <div class="block_01_1">
                    <h2 class="subtitle01 fi">NEWS TOPICS</h2>
                    <h3 class="subtitle02">@Html.ActionLink(@firstNews.Headline, "Index", "NewsArticleCommon", @routeValues, null)</h3>
                    <h4 class="gray2">@firstNews.SentFrom &nbsp; @string.Format("{0} views", firstNews.TotalViews)</h4>
                    <p>@Utils.ShortenString(firstNews.newstext, 50)</p>
                </div>
                <div class="block_01_2">
                    <a href="@Url.Action("Index", "NewsArticleCommon", @routeValues, null)">
                        <img class="resimg" src="@Url.Content(@imageSports)" alt="" />
                    </a>
                </div>
            </div>
                @* アクセス数2位～4位のものを出力  *@
            <ul class="block_list01">
                @foreach (var item in Model.Skip(1))
                {
                    var routeValuesItems = new RouteValueDictionary();
                    routeValuesItems.Add("area", string.Empty);
                    routeValuesItems.Add("topic", Constants.MLB_TOPIC_NAME);
                    routeValuesItems.Add("newsItemID", @item.NewsItemID);
                    routeValuesItems.Add("sportID", Constants.MLB_SPORT_ID);
                    <li>
                        @Html.ActionLink(@item.Headline, "Index", "NewsArticleCommon", @routeValuesItems, null)
                    <span>@item.SentFrom</span> <span>@item.TotalViews views</span>
                </li>
                }
            </ul>
            <p class="block_01_link">@Html.ActionLink("MLB ニュースをもっと読む", "Index", "MlbNewsList", new { area = "Mlb" }, null)</p>
        </div>
    }
}


