@using Splg;
@using Splg.Areas.Jleague;
@using Splg.Areas.Jleague.Models.ViewModel;
@using Splg.Areas.Jleague.Models.ViewModel.InfosModel;
@model Splg.Areas.Jleague.Models.ViewModel.JlgTeamInfoPlayerViewModel
@{
    // Namespace	: Splg.Areas.Jleague.Models.ViewModel
    // FileName		: Index.cshtml
    // Developer	: e-concier
    // Update date  : 2015-04-29
    // Html No      : 10-2-5-4    
    if (ViewBag.JType == 1)
    {
        ViewBag.Title = "チーム情報　選手";
        ViewBag.Name = Splg.Areas.Jleague.JlgConstants.JLG_J1_T_PYR;
        ViewBag.pageNo = Splg.Areas.Jleague.JlgConstants.JLG_J1_T_PYR;
    }
    else
    {
        ViewBag.Title = "チーム情報　選手";
        ViewBag.Name = Splg.Areas.Jleague.JlgConstants.JLG_J2_T_PYR;
        ViewBag.pageNo = Splg.Areas.Jleague.JlgConstants.JLG_J2_T_PYR;
    }
    Layout = "~/Views/Shared/_JlgContentsLayout.cshtml";
}

<div class="jblock_01">
    @Html.Partial("~/Areas/Jleague/Views/Shared/JleagueTeamMenu.cshtml")
    <div class="space"></div>
    @if (Model != null)
    {
        
        <div class="clear">
            <table class="jtbl02" cellpadding="0" cellspacing="0" summary="content1">
                <col width="7%" />
                <col width="8%" />
                <col width="30%" />
                <col width="15%" />
                <col width="10%" />
                <col width="10%" />
                <col width="20%" />
                <thead valign="top">
                    <tr>
                        <th>位置</th>
                        <th>背番号</th>
                        <th>選手名</th>
                        <th>生年月日</th>
                        <th>身長/体重</th>
                        <th>出身地</th>
                        <th>前所属</th>
                    </tr>
                </thead>
                <tbody valign="top">
                    @if (Model.TeamInfoPlayerInfosGK != null && Model.TeamInfoPlayerInfosGK.Any())
                    {
                        foreach (var item in ((JlgTeamInfoPlayerViewModel)Model).TeamInfoPlayerInfosGK)
                        {
                            <tr>
                                <td><span>@item.Position</span></td>
                                <td><span class="fi">@item.UniformNO</span></td>
                                <td><p class="tleft"><a href="@Url.Action("Index", "JlgTeamInfoPlayerDetail", new { area = "Jleague", playerID = @item.PlayerID }, null)">@item.PlayerName</a></p></td>
                                <td><span class="fi">@string.Format("{0}/{1}/{2}", item.Birthday.ToString().Substring(0, 4), item.Birthday.ToString().Substring(4, 2), item.Birthday.ToString().Substring(6, 2))</span></td>
                                <td><span class="fi">@item.Height/@item.Weight</span></td>
                                <td>@item.HomeTown</td>
                                <td><p class="tleft">@item.Career</p></td>
                            </tr>
                        }
                    }
                    @if (Model.TeamInfoPlayerInfosDF != null && Model.TeamInfoPlayerInfosDF.Any())
                    {
                        foreach (var item in ((JlgTeamInfoPlayerViewModel)Model).TeamInfoPlayerInfosDF)
                        {
                            <tr>
                                <td><span>@item.Position</span></td>
                                <td><span class="fi">@item.UniformNO</span></td>
                                <td><p class="tleft"><a href="@Url.Action("Index", "JlgTeamInfoPlayerDetail", new { area = "Jleague", playerID = @item.PlayerID }, null)">@item.PlayerName</a></p></td>
                                <td><span class="fi">@string.Format("{0}/{1}/{2}", item.Birthday.ToString().Substring(0, 4), item.Birthday.ToString().Substring(4, 2), item.Birthday.ToString().Substring(6, 2))</span></td>
                                <td><span class="fi">@item.Height/@item.Weight</span></td>
                                <td>@item.HomeTown</td>
                                <td><p class="tleft">@item.Career</p></td>
                            </tr>
                        }
                    }
                    @if (Model.TeamInfoPlayerInfosMF != null && Model.TeamInfoPlayerInfosMF.Any())
                    {
                        foreach (var item in ((JlgTeamInfoPlayerViewModel)Model).TeamInfoPlayerInfosMF)
                        {
                            <tr>
                                <td><span>@item.Position</span></td>
                                <td><span class="fi">@item.UniformNO</span></td>
                                <td><p class="tleft"><a href="@Url.Action("Index", "JlgTeamInfoPlayerDetail", new { area = "Jleague", playerID = @item.PlayerID }, null)">@item.PlayerName</a></p></td>
                                <td><span class="fi">@string.Format("{0}/{1}/{2}", item.Birthday.ToString().Substring(0, 4), item.Birthday.ToString().Substring(4, 2), item.Birthday.ToString().Substring(6, 2))</span></td>
                                <td><span class="fi">@item.Height/@item.Weight</span></td>
                                <td>@item.HomeTown</td>
                                <td><p class="tleft">@item.Career</p></td>
                            </tr>
                        }
                    }
                    @if (Model.TeamInfoPlayerInfosFW != null && Model.TeamInfoPlayerInfosFW.Any())
                    {
                        foreach (var item in ((JlgTeamInfoPlayerViewModel)Model).TeamInfoPlayerInfosFW)
                        {
                            <tr>
                                <td><span>@item.Position</span></td>
                                <td><span class="fi">@item.UniformNO</span></td>
                                <td><p class="tleft"><a href="@Url.Action("Index", "JlgTeamInfoPlayerDetail", new { area = "Jleague",  playerID = @item.PlayerID }, null)">@item.PlayerName</a></p></td>
                                <td><span class="fi">@string.Format("{0}/{1}/{2}", item.Birthday.ToString().Substring(0, 4), item.Birthday.ToString().Substring(4, 2), item.Birthday.ToString().Substring(6, 2))</span></td>
                                <td><span class="fi">@item.Height/@item.Weight</span></td>
                                <td>@item.HomeTown</td>
                                <td><p class="tleft">@item.Career</p></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="space20"></div>
    }
</div>    
<!--Right Content-->
@section JlgPage{
    <div class="cat_stitle">

        @*Html.Action("ShowJlgRightRecentNews", "JlgRightRecentNews", new { area = "Jleague" })*@
        
        @if (ViewBag.JleagueMenu == 2)
        {
            @Html.Action("ShowJlgRightStanding", "JlgRightOrder", new { area = "Jleague", gameType = JlgConstants.JLG_GAMEKIND_J1, jType = 1 })
        }
        else if (ViewBag.JleagueMenu == 3)
        {
            @Html.Action("ShowJlgRightStanding", "JlgRightOrder", new { area = "Jleague", gameType = JlgConstants.JLG_GAMEKIND_J2, jType = 2 })
        }
        else 
        {
            @Html.Action("ShowJlgRightStanding", "JlgRightOrder", new { area = "Jleague", gameType = JlgConstants.JLG_GAMEKIND_NABISCO, jType = ViewBag.JType })
        }
    </div>
}