@model Splg.Models.ViewModel.ForgotPassViewModel
@{
    ViewBag.Title = "パスワードを忘れた方";
    ViewBag.pageNO = "2-5";
}
<div class="bottom">
    <div class="mem_block01 clear">
        <div class="mem_b1_1">
            <h2>パスワードを忘れた方</h2>
        </div>
        @using (Html.BeginForm("ForgotPassword", "Member", FormMethod.Post, new { @id = "forgotForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="mem_b2_1">
                <p class="mail_title">
                    ご登録時のメールアドレスと、ご登録されたお名前を入力して「次へ」ボタンをクリックしてください。
                    <br>※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。
                </p>
                <div class="mem_forgot">
                    <p>
                        メールアドレス： @Html.TextBoxFor(model => model.Email, new { @class = "box300", style = "me-mode: disabled;", autofocus = "autofocus", @id = "emailAddr" })
                    </p>
                    @Html.ValidationMessageFor(model => model.Email, String.Empty, new { @class = "red" })
                </div>
                <p class="board_link">
                    <input class="send_mail" type="submit" value="次へ" />
                </p>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
