@{
    ViewBag.Title = "お問い合わせ(ご意見・ご要望)";
    Scripts.Render("~/bundles/jqueryval");
}
@model Splg.Models.ViewModel.ContactViewModel
<p class="block_path02"><span class="icon gui_icon"> </span>> お問い合わせ</p>
<!-- main -->
<div class="content">
    <div class="block_03">
        <h2 class="rule_title">お問い合わせ</h2>
        @if (ViewBag.Contact == Constants.EMAIL_SEND)
        {
            <p>@Resources.Japanese.messSendEmailSucess</p>
            <p class="mail_note">
                <img src="~/Content/img/tmp/mail_note.png" alt="メールの確認はお早めに！" />
            </p>
        }
        else
        {
            using (Html.BeginForm())
            {
                <h3 class="fs24 cont_p01">お問い合わせの前に</h3>
                <p class="cont_p01 fs14">お問い合わせの前に、お客様から多く寄せられているお問い合わせの内容を「よくあるご質問」に掲載しています。<br>「よくあるご質問」をご確認上、お問い合わせをお願いいたします。</p>
                <p class="board_link"><a href="/support/faq">よくあるご質問(FAQ)へ</a></p>
                <div class="space20"></div>
                <h3 class="fs24 cont_p01">お問い合わせ</h3>
                <p class="cont_p01 fs14">ご意見・ご要望や、お困りのことがございましたら、以下問い合わせフォームよりご連絡ください。</p>
                <p class="cont_p01 fs14">
                    ※注意事項<br />
                    ・お問い合わせ内容によりましては、ご返信までお時間をいただく場合がございますので、予めご了承ください。<br />
                    ・お問い合わせの返信は@*<a href="mailto:spolog@cc.mediano-ltd.co.jp" target="_blank">*@【spolog@cc.mediano-ltd.co.jp】@*</a>*@ より送信させて頂いております。上記メールアドレスよりメールを受信出来ますよう設定のご確認を行ってください。
               </p>
                <dl class="contact">
                    @if (Session["CurrentUser"] == null)
                    {
                        <dt>Email：</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.EmailTo, new { @class = "ip460" })
                            <div class="space"></div>
                            @Html.ValidationMessageFor(model => model.EmailTo, String.Empty, new { @class = "red" })
                        </dd>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.EmailTo)
                    }

                    <dt>件名：</dt>
                    <dd>@Html.TextBoxFor(m => m.Title, new { @class = "ip460" })</dd>
                    <dt>本文：</dt>
                    <dd>
                        @Html.TextAreaFor(m => m.Content, new { @class = "txt460" })
                        <div class="space"></div>
                        @Html.ValidationMessageFor(model => model.Content, String.Empty, new { @class = "red" })
                        @Html.HiddenFor(m => m.DisplayMemberId)
                        @Html.HiddenFor(m => m.Nickname)
                        @Html.HiddenFor(m => m.UserLoad)
                    </dd>
                </dl>
                <p class="board_link">
                    <input class="send_mail" type="submit" value="確認画面へ" />
                </p>
            }
        }
    </div>
</div>
