@{
    // Namespace	: Splg.Areas.Npb.Models.ViewModel
    // FileName		: Index.cshtml
    // Device       : Mobile
    // Developer	: Nguyen Minh Kiet
    // Update date  : 2015-04-07
    // Html No      : 8-4
}
@{
    ViewBag.Title = "チーム情報　対戦成績";
    ViewBag.Name = Constants.NPBTEAMINFOSTAT;
    Layout = "~/Views/Shared/Mobile/_NpbLayout.cshtml";
}
@model Splg.Areas.Npb.Models.ViewModel.NpbPersonalResultViewModel
<!-- InstanceBeginEditable name="content" -->
<!-- path -->
<p class="block-path2 tab-defaut">
    <a href="#tab01">セ・リーグ 打者成績</a><span>/</span>
    <a href="#tab02">パ・リーグ 打者成績</a>
</p>
<div class="tab-flag" id="tab01">
    @*----Row 1: BattingAverageBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">打率</p>            
            <h3 id="a01" class="subtitle3">セ・リーグ　打率順</h3>
        </div>
        @if (Model != null && Model.SeBattingAverageBest10 != null && Model.SeBattingAverageBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.SeBattingAverageBest10)
                {
                    decimal battingValue = 0;
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@(decimal.TryParse(item.BattingAverage, out battingValue) == true ? Math.Round(battingValue, 3, MidpointRounding.ToEven).ToString(".000") : ".000")</dd>
                            </dl>
                            <ul class="jinfo">
                                <li>本塁打 @item.Homerun</li>
                                <li>打点 @item.RunsBattingIn</li>
                            </ul>                       
                        </div>
                    </li>
                }
            </ul>
        }
    
    </section>
    @*----Row 2: HomerunBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">本塁打</p>            
            <h3 id="a01" class="subtitle3">セ・リーグ　本塁打順</h3>
        </div>
        @if (Model != null && Model.SeHomerunBest10 != null && Model.SeHomerunBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.SeHomerunBest10)
                {
                    decimal battingValue = 0;
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@item.Homerun</dd>
                            </dl>
                            <ul class="jinfo">
                                <li>打率 @(decimal.TryParse(item.BattingAverage, out battingValue) == true ? Math.Round(battingValue, 3, MidpointRounding.ToEven).ToString(".000") : ".000")</li>
                                <li>打点 @item.RunsBattingIn</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }
   
    </section>
    @*----Row 3: RunBattedInBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">打点</p>          
            <h3 id="a01" class="subtitle3">セ・リーグ　打点順</h3>
        </div>
        @if (Model != null && Model.SeRunBattedInBest10 != null && Model.SeRunBattedInBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.SeRunBattedInBest10)
                {
                    decimal battingValue = 0;
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@item.RunsBattingIn</dd>
                            </dl>
                            <ul class="jinfo">
                                <li>打率 @(decimal.TryParse(item.BattingAverage, out battingValue) == true ? Math.Round(battingValue, 3, MidpointRounding.ToEven).ToString(".000") : ".000")</li>
                                <li>本塁打 @item.Homerun</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }
 
    </section>
    @*----Row 4: WinBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">勝数</p>           
            <h3 id="a01" class="subtitle3">セ・リーグ　勝数順</h3>
        </div>
        @if (Model != null && Model.SeWinBest10 != null && Model.SeWinBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.SeWinBest10)
                {
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@item.Win</dd>
                            </dl>
                            <ul class="jinfo">                              
                                <li>敗戦 @item.Lost</li>
                                <li>奪三振 @item.Strikeout</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }      
    </section>
    @*----Row 5: EarnedRunAverageBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">防御率</p>           
            <h3 id="a01" class="subtitle3">セ・リーグ　防御率</h3>
        </div>
        @if (Model != null && Model.SeEarnedRunAverageBest10 != null && Model.SeEarnedRunAverageBest10.Any())
        {
            decimal earnedValue = 0;
            <ul class="team-list ">
                @foreach (var item in Model.SeEarnedRunAverageBest10)
                {
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@(decimal.TryParse(item.EarnedRunAverage, out earnedValue) == true ? Math.Round(earnedValue, 2, MidpointRounding.ToEven).ToString("0.00") : "0.00")</dd>
                            </dl>
                            <ul class="jinfo">
                                <li>投球回数 @item.Display</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }
     
    </section>
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">セーブ数</p>           
            <h3 id="a01" class="subtitle3">セ・リーグ　セーブ数</h3>
        </div>
        @*----Row 6: SaveBest10----*@
        @if (Model != null && Model.SeSaveBest10 != null && Model.SeSaveBest10.Any())
        {
            <ul class="team-list list06">
                @foreach (var item in Model.SeSaveBest10)
                {
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@item.Save</dd>
                            </dl>
                            <ul class="jinfo">
                          @*      <li>セーブ @item.Save</li>*@
                                <li>試合数 @item.GamePitched</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>            
        }     
    </section>
</div>
<div class="tab-flag" id="tab02">
    @*----Row 1: BattingAverageBest10----*@
    <section class="block_2 clear">
        <div class="clear">           
            <p class="sub-text fs8">打率</p>
            <h3 id="a02" class="subtitle3">パ・リーグ　打率順</h3>
        </div>
        @if (Model != null && Model.PaBattingAverageBest10 != null && Model.PaBattingAverageBest10.Any())
        {
            <ul class="team-list ">
                @foreach (var item in Model.PaBattingAverageBest10)
                {
                    decimal battingValue = 0;
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@(decimal.TryParse(item.BattingAverage, out battingValue) == true ? Math.Round(battingValue, 3, MidpointRounding.ToEven).ToString(".000") : ".000")</dd>
                            </dl>
                            <ul class="jinfo">                             
                                <li>本塁打 @item.Homerun</li>
                                 <li>打点 @item.RunsBattingIn</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }       
    </section>

    @*----Row 2: HomerunBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">本塁打</p>            
            <h3 id="a02" class="subtitle3">パ・リーグ　本塁打順</h3>
        </div>
        @if (Model != null && Model.PaHomerunBest10 != null && Model.PaHomerunBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.PaHomerunBest10)
                {
                    decimal battingValue = 0;
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@item.Homerun</dd>
                            </dl>
                            <ul class="jinfo">
                                <li>打率 @(decimal.TryParse(item.BattingAverage, out battingValue) == true ? Math.Round(battingValue, 3, MidpointRounding.ToEven).ToString(".000") : ".000")</li>
                                <li>打点 @item.RunsBattingIn</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }
     
    </section>
    @*----Row 3: RunBattedInBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">打点</p>            
            <h3 id="a01" class="subtitle3">パ・リーグ　打点順</h3>
        </div>
        @if (Model != null && Model.PaRunBattedInBest10 != null && Model.PaRunBattedInBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.PaRunBattedInBest10)
                {
                    decimal battingValue = 0;
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@item.RunsBattingIn</dd>
                            </dl>
                            <ul class="jinfo">
                                <li>打率 @(decimal.TryParse(item.BattingAverage, out battingValue) == true ? Math.Round(battingValue, 3, MidpointRounding.ToEven).ToString(".000") : ".000")</li>
                                <li>本塁打 @item.Homerun</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }       
    </section>
    @*----Row 4: WinBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">勝数</p>         
            <h3 id="a01" class="subtitle3">パ・リーグ　勝数順</h3>
        </div>
        @if (Model != null && Model.PaWinBest10 != null && Model.PaWinBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.PaWinBest10)
                {
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@item.Win</dd>
                            </dl>
                            <ul class="jinfo">                               
                                <li>敗戦 @item.Lost</li>
                                <li>奪三振 @item.Strikeout</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }      
    </section>
    @*----Row 5: EarnedRunAverageBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">防御率</p>         
            <h3 id="a01" class="subtitle3">パ・リーグ　防御率</h3>
        </div>
        @if (Model != null && Model.PaEarnedRunAverageBest10 != null && Model.PaEarnedRunAverageBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.PaEarnedRunAverageBest10)
                {
                    decimal earnedValue = 0;
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@(decimal.TryParse(item.EarnedRunAverage, out earnedValue) == true ? Math.Round(earnedValue, 2, MidpointRounding.ToEven).ToString("0.00") : "0.00")</dd>
                            </dl>
                            <ul class="jinfo">
                                <li>投球回数 @item.Display</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }      
    </section>
    @*----Row 6: SaveBest10----*@
    <section class="block_2 clear">
        <div class="clear">
            <p class="sub-text fs8">セーブ数</p>          
            <h3 id="a01" class="subtitle3">パ・リーグ　セーブ数</h3>
        </div>
        @if (Model != null && Model.PaSaveBest10 != null && Model.PaSaveBest10.Any())
        {
            <ul class="team-list">
                @foreach (var item in Model.PaSaveBest10)
                {
                    <li>
                        <p class="num fs40 orange">@item.Ranking</p>
                        <div>
                            <dl>
                                <dt><a href="@Url.Action("Index", "NpbTeamInfoPitcherDetail", new { area = "Npb", teamID = @item.TeamCD, playerID= @item.PlayerCD }, null)">@item.Name</a> (<span class="blue">@item.ShortNameTeam</span>)</dt>
                                <dd class="fs30 num">@item.Save</dd>
                            </dl>
                            <ul class="jinfo">
                              @*  <li>セーブ @item.Save</li>*@
                                <li>試合数 @item.GamePitched</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }
     </section>
</div>
<!-- InstanceEndEditable -->
