@{
    // Namespace	: Splg.Areas.Npb.Models.ViewModel
    // FileName		: _NpbTeamInfoMenu.cshtml
    // View         : Mobile
    // Developer	: Nguyen Minh Kiet
    // Update date  : 2015-04-06   
}
@if (@ViewBag.TeamID != null)
{    
    <p class="block-path2">     
     
        @*画面設計書 (チーム情報チームトップ（プロ野球）画面）: 8-5-1 *@
        <a class="@(ViewBag.TeamInfoMenuTabActive == 1 ? "active" : "")" href="@Url.Action("Index", "NpbTeamInfoTeamTop", new { area = "Npb", teamID = @ViewBag.TeamID }, null)">チーム情報トップ</a><span>/</span>
       
         @*画面設計書 (チーム情報日程・結果(プロ野球）画面）: 8-5-2 *@      
        <a class="@(ViewBag.TeamInfoMenuTabActive == 2 ? "active" : "")" href="@Url.Action("Index", "NpbTeamInfoDailyResult", new { area = "Npb", teamID = @ViewBag.TeamID }, null)">日程・結果</a><span>/</span>
       
        @*画面設計書 (チーム情報対戦成績(プロ野球）画面）: 8-5-3 *@
         <a class="@(ViewBag.TeamInfoMenuTabActive == 3 ? "active" : "")" href="@Url.Action("Index", "NpbTeamInfoConfrontationResult", new { area = "Npb", teamID = @ViewBag.TeamID }, null)">対戦成績</a><span>/</span>
       
        @*画面設計書 (チーム情報投手（プロ野球）画面）: 8-5-4 *@
         <a class="@(ViewBag.TeamInfoMenuTabActive == 4 ? "active" : "")" href="@Url.Action("Index", "NpbTeamInfoPlayer", new { area = "Npb", teamID = @ViewBag.TeamID, typeID = 1 }, null)">投手</a><span>/</span>
       
         @*画面設計書 (チーム情報捕手・野手（プロ野球）画面）: 8-5-5*@
         <a class="@(ViewBag.TeamInfoMenuTabActive == 5 ? "active" : "")" href="@Url.Action("Index", "NpbTeamInfoPlayer", new { area = "Npb", teamID = @ViewBag.TeamID, typeID = 2 }, null)">捕手・野手</a><span>/</span>
       
        @*画面設計書 (チーム情報監督・スタッフ(プロ野球)画面) : 8-5-6 *@
         <a class="@(ViewBag.TeamInfoMenuTabActive == 6 ? "active" : "")" href="@Url.Action("Index", "NpbTeamInfoPlayer", new { area = "Npb", teamID = @ViewBag.TeamID, typeID = 3 }, null)">監督・スタッフ</a><span>/</span>
       
        @*画面設計書 (チーム情報ニュース(プロ野球)画面） : 8-5-7 *@
         <a class="@(ViewBag.TeamInfoMenuTabActive == 7 ? "active" : "")" href="@Url.Action("Index", "NpbTeamInfoNews", new { area = "Npb", teamID = @ViewBag.TeamID }, null)">ニュース</a>					
	</p>	
}

